body{
 background-color: #9A5D47
}

h4 {
  letter-spacing: 5px;
}

nav {
  list-style-type: none;
  background-color: #F2E7E3;
  width: 100%;
  left: 0;
  margin: 0;
  top: 0;
  overflow: hidden;
  position: fixed;
}
li a {
  display: block;
  color: black;
  float: left; 
  padding: 20px 20px;
}
li a: hover{
  background-color: antiquewhite;
  color: black; 
}
